@import '../../index.css';

.restaurant-details-page {
    width: 100%;
    // background-color: antiquewhite;

    .restaurant-details-main {
        .restaurant-details-header {
            width: 100%;
            // background-color: chocolate;

            .restaurant-details-breadcrumb {
                display: flex;
                align-items: center;
                height: 30px;
                font-size: 14px;
                color: #93959f;
                // background-color: coral;

                span {
                    cursor: pointer;

                    &:hover {
                        color: #535665;
                    }
                }
            }
        }

        .restaurant-details-about {
            width: 100%;
            opacity: 0.9;
            background-color: black;

            .restaurant-details-about-inner {
                box-sizing: border-box;
                display: flex;
                gap: 50px;
                // background-color: #ededed;

                .restaurant-details-about-left {
                    width: 250px;
                    height: 250px;
                    display: flex;
                    align-items: center;
                    // background-color: burlywood;

                    img {
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                    }
                }

                .restaurant-details-about-middle {
                    min-width: 538px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-top: 60px;
                    color: white;
                    // background-color: blueviolet;

                    .restaurant-details-about-middle-title {
                        font-size: 35px;
                        // background-color: darkgray;
                    }

                    .restaurant-details-about-middle-tags {
                        font-size: 14px;
                        opacity: 0.8;
                        // background-color: darkcyan;

                        .tags-commas::before {
                            content: ', ';

                            &:last-child {
                                content: ' ';
                            }
                        }
                    }

                    .restaurant-details-about-middle-address {
                        display: flex;
                        font-size: 14px;
                        opacity: 0.8;
                        // background-color: brown;

                        .restaurant-details-about-middle-address-first {
                            margin-left: 5px;
                            font-weight: 700;
                            cursor: pointer;
                        }

                        .restaurant-details-about-middle-address-arrow {
                            margin-left: 5px;
                            width: 15px;
                            height: 15px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .restaurant-details-about-middle-extras {
                        display: flex;
                        margin-top: 7px;

                        .middle-extra {
                            padding: 0 35px;
                            border-right: solid rgba(255, 255, 255, 0.4);
                            // background-color: darkgreen;

                            &:first-child {
                                padding-left: 0;
                                padding-right: 35px;
                            }

                            &:last-child {
                                padding-right: 0;
                                padding-left: 35px;
                                border: none;
                            }

                            .middle-extra-value {
                                font-size: 15px;
                                font-weight: 600;
                            }

                            .middle-extra-text {
                                opacity: 0.7;
                                margin-top: 5px;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .restaurant-details-about-right {
                    padding: 60px 0;
                    width: 300px;
                    color: white;
                    // background-color: cadetblue;

                    fieldset {
                        border-color: white;

                        legend {
                            text-transform: uppercase;
                        }

                        .restaurant-details-about-right-offers {
                            padding: 10px 20px 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .restaurant-details-about-right-offer {
                                font-size: 14px;
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                line-height: 1.3;

                                .restaurant-details-about-right-offer-image {
                                    width: 20px;
                                    height: 20px;

                                    img {
                                        height: 100%;
                                        filter: invert(100%) sepia(5%) saturate(20%) hue-rotate(138deg) brightness(106%) contrast(105%);
                                    }
                                }

                                .restaurant-details-about-right-offer-text {}
                            }
                        }
                    }


                }
            }
        }
    }
}



@media only screen and (min-width: 1370px) and (max-width: 1630px) {
    .restaurant-details-page {
        .restaurant-details-main {
            .restaurant-details-header {
                .restaurant-details-breadcrumb {
                    font-size: 12px;
                }
            }

            .restaurant-details-about {
                .restaurant-details-about-inner {}
            }
        }
    }
}