.custom-tabs-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .custom-tabs {
        display: flex;
        height: 100%;
        gap: 30px;
        font-size: 22px;
        font-weight: 500;
        // background-color: darkslategray;

        .custom-tabpanes {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 100%;
            color: #93959f;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            // background-color: dodgerblue;

            &:hover {
                color: #282c3f;
            }
        }
    }
}


@media only screen and (min-width: 1370px) and (max-width: 1630px) {
    .custom-tabs-container {
        .custom-tabs {
            font-size: 16px;
        }
    }
}