.slick-arrow {
    /* height: 60px;
    width: 60px; */
}
.slick-prev {
    height: 70px;
    width: 70px;
}

.carousel-images-box {
    /* width: 260px;
    height: 260px; */
}
.carousel-image {
    width: 260px;
    height: 260px;
    background-size: cover;
}

.slick-track {
    /* gap: 20px; */
}
.slick-slide {
}
