.account-main-container {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: brown;

    .account-inner-box {
        box-sizing: border-box;
        width: 100%;
        min-height: 100vh;
        background: #37718e;

        .account-header-box {
            box-sizing: border-box;
            max-width: 1440px;
            padding: 40px 0 0 0;
            margin: 0px auto;
            background-color: cornflowerblue;

            .account-header {
                margin-top: 30px;
                margin-bottom: 30px;
                color: #fff;
                background-color: hotpink;

                .account-header-heading {}

                .account-header-details {}

                .account-header-btn {
                    // float: right
                }
            }
        }


        .account-body {
            box-sizing: border-box;
            max-width: 1500px;
            margin: 0 auto;
            box-shadow: 0 2px 15px 0rgba(0, 0, 0, .15);
            background-color: blueviolet;

            .account-body-inner {
                box-sizing: border-box;
                max-width: 1440px;
                margin: 0 auto;
                padding: 30px 0 !important;
                background-color: antiquewhite;

                .account-body-content {
                    display: flex;
                    // align-items: center;

                    background-color: darkgoldenrod;

                    .account-body-menu {
                        ul {
                            list-style-type: none;

                            li {}
                        }
                    }
                }
            }
        }
    }
}