.header-main-container {
  // position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #7f2c0c;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: block;

  .header {
    box-sizing: border-box;
    max-width: 1440px;
    // min-width: 1440px;
    height: 70px;
    background-color: #7f2c0c;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;

    .logo-section {
      display: flex;
      align-items: center;

      .logo-img {
        width: 45px;
        height: 45px;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: 0.7s;
        }
      }
    }

    .header-address-section {
      box-sizing: border-box;
      display: flex;
      font: inherit;
      height: 50%;
      margin-left: -50px;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      // background-color: #f18155;

      .header-address-type {
        box-sizing: border-box;
        font-size: 19px;
        font-weight: 700;
        height: 80%;
        margin-bottom: -5px;
        padding-bottom: 20px;
        border-bottom: 4px solid #f18155;

        // background-color: rgb(12, 107, 107);


      }

      .header-address {
        // background-color: rgb(12, 107, 107);
      }

      .header-address-arrow {
        width: 20px;
        height: 20px;
        // background-color: rgb(12, 107, 107);

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        .header-address-type {
          color: #f18155;
          border-bottom: 4px solid #a14520;
          transition: 0.2s;
        }

      }
    }

    .header-right-section {
      box-sizing: border-box;
      font: inherit;
      // display: flex;
      // align-items: center;
      justify-content: flex-end;
      height: 100%;
      // display: block;
      // float: right;
      // margin-right: 0;

      .header-right-section-items {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
        height: 100%;
        align-items: center;

        .nav-list {
          box-sizing: inherit;
          display: flex;
          list-style-type: none;
          height: 100%;
          font-size: 17px;
          font-weight: 600;
          margin-right: 0.5rem;
          /* background-color: aquamarine; */

          li {
            height: 100%;
            margin-right: 50px;
            display: flex;
            align-items: center;
            // background-color: chartreuse;

            .nav-links {
              display: flex;
              align-items: center;
              text-decoration: none;
              color: inherit;
              line-height: 0;
              gap: 5px;

              img {
                width: 20px;
                height: 20px;
                filter: invert(99%) sepia(96%) saturate(0%) hue-rotate(215deg) brightness(113%) contrast(100%);
              }
            }

            &:hover {
              color: #f18155;
              transition: 0.4s;

              img {
                transition: 0.4s;
                filter: invert(70%) sepia(60%) saturate(2910%) hue-rotate(325deg) brightness(100%) contrast(90%);
              }

              .nav-list-item {
                display: flex;
                align-items: center;
                height: 100%;
                /* background-color: red; */
              }
            }
          }
        }
      }
    }
  }
}



@media (max-width: 480px) {
  .header-main-container {
    height: 50px;

    .header {
      height: 100%;
      max-width: 480px;
      max-width: 100%;
      margin: 0;

      .logo-section {
        display: none;
      }

      .header-right-section {
        .header-right-section-items {

          .nav-list {
            display: none;
          }
        }
      }
    }
  }
}