body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7f2c0c;
    border-radius: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #153865;
}
