.address-drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background-color: rgba(0, 0, 0, 0.65);
}

.address-drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    // overflow-y: auto;
    width: 580px;
    z-index: 1003;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    animation: slide-down 300ms ease-out forwards;
    background-color: whitesmoke;

    .address-drawer {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        // padding-right: 50px;
        height: 100%;
        // background-color: rgb(201, 201, 32);

        .address-drawer-upper-section {
            box-sizing: border-box;
            padding-right: 54px;
            background-color: whitesmoke;
            top: 0;
            // background-color: chocolate;

            .address-drawer-close {
                box-sizing: border-box;
                padding: 2rem 0;
                // background-color: darkorchid;

                .address-drawer-close-img-box {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    // background-color: aquamarine;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .address-drawer-search-box {
                box-sizing: border-box;
                padding: 1rem 0;
                // background-color: darkkhaki;
            }
        }

        .address-drawer-lower-section {
            box-sizing: border-box;
            padding-right: 50px;
            overflow-y: auto;
            // padding: 22px 24px;
            // background-color: dimgray;

            .address-drawer-gps-container {
                display: grid;
                grid-template-columns: 0.2fr 1fr;
                margin-bottom: 1.5rem;
                border: 1px solid #d4d5d9;
                cursor: pointer;
                // background-color: #57d8e758;

                &:hover {
                    .address-drawer-gps-heading {
                        color: #fc8019;
                        transition: 0.2s;
                    }
                }

                .address-drawer-gps-icon {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    // background-color: aliceblue;

                    .gps-icon {
                        width: 20px;
                        height: 20px;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .address-drawer-gps-text {
                    padding: 15px 10px;
                    // background-color: darkgrey;

                    .address-drawer-gps-heading {
                        font-size: 17px;
                        font-weight: 550;
                    }

                    .address-drawer-gps-para {
                        font-size: 14px;
                        color: #939d9f;
                        padding-top: 5px;
                    }
                }
            }

            .address-drawer-saved-address-container {
                border: 1px solid #d4d5d9;
                box-sizing: border-box;
                // background-color: aqua;

                p {
                    font-size: 12px;
                    color: #7e808c;
                    box-sizing: border-box;
                    padding: 0px 55px;
                    // background-color: lightseagreen;
                }

                .address-drawer-saved-addresses {
                    .address-drawer-saved-address {
                        display: grid;
                        grid-template-columns: 0.2fr 1fr;
                        margin-bottom: 1rem;
                        cursor: pointer;
                        // background-color: indigo;

                        &:hover {
                            .address-drawer-saved-address-type {
                                color: #fc8019;
                                transition: 0.2s;
                            }
                        }

                        .address-drawer-saved-address-icon {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            width: 100%;
                            height: 100%;
                            // background-color: burlywood;

                            .saved-address-icon {
                                width: 20px;
                                height: 20px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }

                        .address-drawer-saved-address-text {
                            padding: 15px 10px;
                            // background-color: khaki;

                            .address-drawer-saved-address-type {
                                font-size: 17px;
                                font-weight: 550;
                                // background-color: rgb(11, 141, 141);
                            }

                            .address-drawer-saved-address-main {
                                font-size: 14px;
                                color: #939d9f;
                                padding-top: 5px;
                                // background-color: deepskyblue;
                            }

                            &:nth-child(n+2) {
                                border-bottom: 1px dashed #a9abb2;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translatex(0px);
        width: 0px;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}